.left-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    background-color: black;
}
.authpage .row{
    width: 900px;
    border-radius: 10px;
    min-height: 450px;
    background-color: #ffff;
    box-shadow: rgb(99, 99, 99,0.2) 0px 2px 8px 0px;
}
.left-image p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: large;
    font-weight: bold;
    text-wrap: wrap;
    text-align: center;
    color: var(--brand-white);
}